
.post-title a {
    font-size: inherit;
    text-decoration: none;
    padding-bottom: 0;
}
.post-meta {
    color: grey;
    font-size: 1.75em;
    margin-bottom: -30px;
}
.post-content {
    h3, h4, h5, h6 { font-family: $opensans-font-stack; border-bottom: 1px solid $color-prim; margin-top: 20px; margin-bottom: 20px}
}
.post-content img {
    width: 100%;
    border: 3px solid $color-prim;
}
.footnotes {
    display: none;
}
