        <footer id="page-footer">
            <section>
                <p><a href="#top" class="btt">back to top</a></p>
                <p>&copy; 2015 &mdash; Justin DiRose</p>
                <p class="footer-nav">
                    {% for page in site.pages %}
                    {% if page.title %}
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    {% endif %}
                    {% endfor %}
                </p>
                <p><form method="get" action="https://duckduckgo.com/">
                    <input type="hidden" value="justindirose.com" name="sites"></input>
                    <input type="hidden" value="1" name="kh"></input>
                    <input type="hidden" value="1" name="kn"></input>
                    <input type="hidden" value="1" name="kac"></input>
                    <input size="40" name="q">
                    <input type="submit" value="Search">
                </form></p>
            </section>
        </footer>
    </div>
    </main>
<script src="{{site.url}}/js/build/main.min.js"></script>
<script src="{{site.url}}/js/build/bigfoot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.9/slideout.min.js"></script>
<script>
      var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70
      });

      // Toggle button
      document.querySelector('.toggle-button').addEventListener('click', function() {
        slideout.toggle();
      });
      document.querySelector('.menu').addEventListener('click', function(eve) {
        if (eve.target.nodeName === 'A') { slideout.close(); }
      });

      var bigfoot = $.bigfoot(
  		{
  		actionOriginalFN: "ignore",
  		positionContent: "true"
  		}
  	);
</script>
