<main>
    <div class="content-wrapper">
        <header id="top">
            <section class="logo">
                <h1><a class="nav-item" href="{{ site.url }}">justin dirose</a></h1>
                <h2>Thoughts on worship, creativity, and technology.</h2>
                <ul class="top-nav">
                    <li><a href="{{ site.url }}">blog</a></li>
                    <li><a href="{{ site.url }}/about">about</a></li>
                    <li><a href="{{ site.url }}/contact">contact</a></li>
                </ul>
            </section>
        </header>
