//****************************************************
// MIXINS BASE PARTIAL
// ****************************************************

// Set text antialiasing for clearer text
@mixin antialiasing( $type:antialiased ) {
  /* antialiased, none, subpixel-antialiased*/
	-webkit-font-smoothing: $type;
	font-smoothing: $type;
	font-smooth: always;
}

// Input color to set background opacity with it
@mixin hr-opacity($prim-color, $sec-color, $opacity: 0.3, $border-width: 1px, $border-style: solid) {
	border-top: 1px solid $prim-color; //Fallback
    border-bottom: 1px solid $sec-color; //Fallback
	border-top: 1px solid rgba($prim-color, .1);
    border-bottom: 1px solid rgba($sec-color, $opacity);
}

// Keep the footer sticky to the bottom of the page
@mixin sticky-footer($footer-height, $wrapper-selector: unquote("#wrapper"), $container-selector: unquote("#container"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%;
  }
  body {
  	margin: 0px;
  	padding: 0px;
  }
  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$container-selector} {
      padding-bottom: $footer-height;
    }
  }
  #{$footer-selector} {
    height: $footer-height;
  }
}

// EXTENSIONS
// @extend %clearfix -- clears floats after element extended upon
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
